Source: hashcat
Section: non-free/utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://hashcat.net/hashcat/
Vcs-Git: ssh://git@git.kali.org/packages/hashcat.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/hashcat.git;a=summary

Package: hashcat
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: World’s fastest CPU-based password recovery tool
 Hashcat is the world’s fastest CPU-based password recovery tool.
 .
 While it's not as fast as its GPU counterparts oclHashcat-plus and 
 oclHashcat-lite, large lists can be easily split in half with a good dictionary
 and a bit of knowledge of the command switches.

